:root {
    --dark-text: #f8fbff;
    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-hover: #f0f0f0;
    --light-text: #151426;
    --light-btn: #9796f0;
    --blue: #0000ff;
    --white: #fff;
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --font-family: consolas;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    justify-content: center;
    place-items: center;
    font-family: var(--font-family);
    background:linear-gradient(to right, #9796f0, #fbc7d4);
    overflow: hidden;
  }

  /*Full body style*/
  .contianer {
    background: white;
    width: 53vh;
    padding: 33px;
    height: 62vh;
    border-radius: 10px;
  }

  /*Header style*/

  .header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #fbc7d4;
  }

  /*Week days*/
  ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 11px;
    border-bottom: 1px solid #343458;
  }

  li{
    padding: 0 5px;
  }

  .date-time{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .day{
    font-family: Microsoft JhengHei UI;
    font-size: 1.4rem;
    padding-right: 5%;
    border-right: 3px solid #9796f0;
  }

  .date-time-value{
    text-align: center;
    padding-left: 10px;
  }

  .weekDays {
    display: flex;
    font-weight: 600;
    cursor: pointer;
    color:rgb(104, 104, 104);
  }

  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 5px;
  }

  .days div{
    text-align: center;
  }
  .month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .month-list {
    position: relative;
    left: 0;
    top: -50px;
    background-color: #ebebeb;
    color: var(--light-text);
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    border-radius: 20px;
  }

  /*choosing month*/
  .month-list > div {
    display: grid;
    place-content: center;
    margin: 5px 10px;
    transition: all 0.2s ease-in-out;
  }

  .month-list > div > div {
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
  }

  .month-list > div > div:hover {
    background-color:var(--light-btn);
    color: var(--dark-text);
    transform: scale(0.9);
    transition: all 0.2s ease-in-out;
  }

  .month-list.show {
    visibility: visible;
    pointer-events: visible;
    
    animation: to-left .71s forwards;

    margin: -51px;
    
  }

  .month-list.hideonce{
    visibility: hidden;
  }

  .month-list.hide {
    animation: to-right 1s forwards;
    visibility: none;
    pointer-events: none;
  }